@use "sass:math";

@mixin setdiv($size, $circle) {
    width: $size;
    height: $size;

    @if $circle {
        border-radius: math.div($size, 2);
    }
}

.square {
    @include setdiv(100px, $circle: false);
    background-color: red;
}

.circle {
    @include setdiv(100px, $circle: true);
    background-color: blue;
}